@import 'tailwindcss';
@source "./src/**/*.{html,ts}";
/* Configuración del tema para Tailwind v4 */
@theme {
  --font-sans: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Estilos base */
html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
}
